extends layout

block content
    .row#support
        h1.text-center(style="margin-bottom: 40px") About
        .col-lg-5.col-lg-offset-2.col-xs-12
            p(style="font-size: 16px;padding: 16px;") Twitch Giveaways was created with one purpose in mind, to provide Twitch.tv broadcasters with an easy to use platform to host their giveaways. We offer many configurable settings to get your giveaway exactly how you want it to be and if there is somthing you think we can add to the list of settings send us a message on our 
                a(href="/support") support 
                | page. This site was created by a long time twitch viewer, my twitch user name is 
                a(href="http://www.twitch.tv/secretbryan/profile") secretbryan
                | .
        .col-lg-4
            img.img-responsive(src="/images/hands.jpg")
    .row(style="margin: 0px; margin-top: 50px;")
        .col-lg-6.col-lg-offset-3
            h1.text-cent Benifits from using TwitchGiveaways
            ul(style="font-size: 24px; width: 500px; margin: 0 auto;")
                li Setup unlimited giveaways for FREE.
                li No more spam in chat!
                li We work WITH you!
        .push
