doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Twitch Giveaways
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    script(src='/javascripts/modernizr-2.6.2.js')
  body
    .navbar.navbar-inverse.body-content
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.fa.fa-gift.fa-5x(href='/')
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/support') Support
    .container.body-content
      block content

      footer
        p.text-center &copy; #{year} - Twitch Giveaways

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
